html {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.cookie-meteo-indicador {

}

.cookie-meteo-client {
  display: block;
  margin-top: 0 !important;
}

.cookie-meteo-indicador {
  /*height: 150px;*/
  background-color: lightblue;
  max-width: 450px;
  min-width: 336px;
}

.cookie-meteo-block {
  padding: 8px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  opacity: 0.9;
  /*color: white;*/
}

.cmi-temperatura:hover,
.cmi-temperatura.selected,
.cmi-icon-temperatura {
  background-color: rgba(0, 150, 136, 1) !important;
}

.cmi-temperatura-settings {
  background-color: rgba(0, 150, 136, 0.3) !important;
}

.cmi-viento:hover,
.cmi-viento.selected,
.cmi-icon-viento {
  background-color: rgba(57, 73, 171, 1) !important;
}

.cmi-viento-settings {
  background-color: rgba(57, 73, 171, 0.3) !important;
}

.cmi-humedad:hover,
.cmi-humedad.selected,
.cmi-icon-humedad {
  background-color: rgba(156, 39, 176, 1) !important;
}

.cmi-humedad-settings {
  background-color: rgba(156, 39, 176, 0.3) !important;
}

.cmi-icon-temperatura {
  padding: 25px;
  width: 70px;
}

.cmi-icon-viento {
  padding: 30px 20px;
  width: 90px;
}

.cmi-icon-humedad {
  padding: 28px 12px;
  width: 70px;
}

.cookie-meteo-grafico {
  margin: 0 !important;

}

.cmi-icon {
  width:100px !important;
  height: 100px !important;
  min-width: 100px !important;
}

.cmi-icon-mini {
  width:60px !important;
  height: 60px !important;
  min-width: 60px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.cmi-icon-mini-mini {
  width: 24px !important;
  height: 24px !important;
  min-width: 32px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left:16px;
}

.cmi-icon-sub {
  margin-right:16px !important;
}

.cmi-icon > img {
  /*padding: 25px;
  width: 70px;*/
}

.cmi-text {
  font-size: 2em;
  font-weight: bold;
}

.cmi-text-align {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  height:40px;
}

.cmi-units {
  margin-left:4px;
}

.cmi-date {
  margin:0 10px 0 10px;
  width: 190px;
}

.cmi-show-history {
  float:left;
}

.cmi-login-card {
  width: 70%;
  margin: 10px 15% 0 15%;
}

.cmi-alarm-low {
  background-color: yellow;
}

.cmi-alarm-high {
  background-color: red;
  color:white;
}

.cookie-meteo-admin md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px;
}

.cookie-meteo-admin md-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}


.cmi-input-threshold,
.cmi-input-transfer,
.cmi-input-sample {
  text-align: right;
  width:80px;
}

.cmi-text-units {
  text-align: center;
  width:80px;
}

.cmi-input-sample {
  margin-right:10px;
}

.cmi-text-transfer {
  text-align: center;
  padding:10px;
}

.cookie-meteo-admin {
  /*max-width: 800px;*/
  /* margin: 16px;*/
  box-sizing: border-box;
}

.cmi-input-mail {
  width:40%;
}

.cookie-meteo-admin .md-subheader {
  margin: 0 !important;
  background-color: #eeeeee;
}

.cmi-port-error {
  font-size: .8em;
  padding: 5px;
  background-color: gold;
  border-radius: 4px;
  border: 1px solid black;
}

.cmi-tag,
.cmi-port-ok {
  font-size: .8em;
  padding: 5px;
  background-color: #009688;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  margin-left: 10px;
}

.cmi-inner {
  background-color: #FBFBFB;
}

md-progress-linear .md-container {
  background-color: rgb(197,202,233);
}

md-progress-linear .md-bar {
  background-color: rgb(63,81,181);
}

.cmi-hide {
  visibility: hidden;
}