<section class="cookie-meteo-client" layout-margin>
    <div
        style="padding-top:0 !important;"
        layout="row"
        layout-md="column"
        layout-align-gt-md="column"
        layout-align-lg="column"
        layout-align-gt-lg="row"

        layout-margin
        layout-fill
        layout-padding
        layout-align="center center"
        layout-sm="column">
        <div
            ng-repeat="item in config.indicadores track by item.id"
            class="cookie-meteo-indicador cookie-meteo-block"
            flex="33"
            flex-order="{{ $index+1 }}"
            ng-class="{
                'selected': item.selected,
                'cmi-temperatura': item.id === 'temperatura',
                'cmi-viento': item.id === 'viento',
                'cmi-humedad': item.id === 'humedad'
            }"
            ng-if="config.serverConfig.estacion.sensores[item.id].active"
            ng-click="methods.select(item)">
            <md-card ng-class="{
                    'cmi-alarm-low': item.thresholdMin,
                    'cmi-alarm-high': item.thresholdMax
                }">
                <md-card-content
                    layout-align="center center"
                    layout="row"
                    layout-md="row"
                    layout-margin
                    layout-fill
                    layout-padding>
                    <div flex="30" layout="row" layout-align="center center" >
                        <div
                            class="md-button md-fab cmi-icon"
                            ng-class="{
                                'cmi-icon-temperatura': item.id === 'temperatura',
                                'cmi-icon-viento': item.id === 'viento',
                                'cmi-icon-humedad': item.id === 'humedad'
                            }">
                            <img
                                ng-src="{{ item.icon }}"
                                class="md-icon"
                                style="fill: white;"
                                ng-class="{
                                    'cmi-icon-temperatura': item.id === 'temperatura',
                                    'cmi-icon-viento': item.id === 'viento',
                                    'cmi-icon-humedad': item.id === 'humedad'
                                }"
                                flex/>
                        </div>
                    </div>
                    <div class="md-list-item-text" flex="40" layout="row" layout-md="column" layout-align="center center">
                        <div class="md-2-line" layout-md="column">
                            <div class="cmi-text-align">{{ item.description }}</div>
                            <div flex layout="row" layout-align="center center">
                                <span class="cmi-text">{{ item.value | number:2 }}</span>
                                <div class="cmi-units">{{ config.serverConfig.estacion.sensores[item.id].units }}</div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div ng-show="config.selected">
        <div
            hide-sm
            class="cookie-meteo-grafico cookie-meteo-block"
            ng-class="{
                'cmi-temperatura selected ': config.indicadores.temperatura.selected,
                'cmi-viento selected ': config.indicadores.viento.selected,
                'cmi-humedad selected ': config.indicadores.humedad.selected
            }"
            flex>
            <highchart id="chart1" config="config.chart"></highchart>
            <md-content layout="row">
                <span flex></span>
            </md-content>
        </div>
        <div layout-fill layout="row">
            <div flex>
                <md-checkbox class="md-primary" ng-model="config.realtime" aria-label="Tiempo real">Tiempo real</md-checkbox>
            </div>
            <div
                flex
                ng-if="!config.realtime"
                layout="row"
                layout-sm="row"
                layout-align="start center"
                layout-fill>
                <div layout="row" layout-sm="column" layout-align="center center" layout-padding>
                    <div flex layout="row">
                        <label style="padding:4px 0;" for="fc_desde">Desde</label>
                        <input id="fc_desde" class="cmi-date" type="datetime-local" ng-model="filter.desde"/>
                    </div>
                    <div flex layout="row">
                        <label style="padding:4px 0;" for="fc_hasta">Hasta</label>
                        <input id="fc_hasta" class="cmi-date" type="datetime-local" ng-model="filter.hasta"/>
                    </div>
                </div>
            </div>
            <div flex></div>
            <div layout="row" layout-align="end center" flex="" ng-if="!config.realtime">
                <md-button  hide-sm class="md-fab" aria-label="Buscar" ng-click="methods.searchWithFilter()">
                    <md-icon md-svg-src="./material-design-icons/action/svg/production/ic_search_24px.svg"></md-icon>
                    <md-tooltip>Buscar</md-tooltip>
                </md-button>
                <md-button show-sm class="md-fab" aria-label="Guardar registros" ng-click="methods.download(config.chart.series[0])">
                    <md-icon md-svg-src="./material-design-icons/file/svg/production/ic_file_download_24px.svg"></md-icon>
                    <md-tooltip>Descargar registros</md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
</section>