<section class="cookie-meteo-client" layout-margin>
    <div
        layout="row"
        layout-md="column"
        layout-align-gt-md="column"
        layout-align-lg="column"
        layout-align-gt-lg="row"

        layout-margin
        layout-fill
        layout-padding
        layout-align="center center"
        layout-sm="column">
        <div
            ng-repeat="item in config.indicadores track by item.id"
            class="cookie-meteo-indicador cookie-meteo-block"
            flex="33"
            flex-order="{{ $index+1 }}"
            ng-class="{
                'selected': item.selected,
                'cmi-temperatura': item.id === 'temperatura',
                'cmi-viento': item.id === 'viento',
                'cmi-humedad': item.id === 'humedad'
            }"
            ng-if="item.visible"
            ng-click="methods.select(item)">
            <md-card ng-class="{
                    'cmi-alarm-low': item.thresholdMin,
                    'cmi-alarm-high': item.thresholdMax
                }">
                <md-card-content
                    layout-align="center center"
                    layout="row"
                    layout-md="row"
                    layout-margin
                    layout-fill
                    layout-padding>
                    <div flex="30" layout="row" layout-align="center center" >
                        <div
                            class="md-button md-fab cmi-icon"
                            ng-class="{
                                'cmi-icon-temperatura': item.id === 'temperatura',
                                'cmi-icon-viento': item.id === 'viento',
                                'cmi-icon-humedad': item.id === 'humedad'
                            }">
                            <img
                                ng-src="{{ item.icon }}"
                                class="md-icon"
                                style="fill: white;"
                                ng-class="{
                                    'cmi-icon-temperatura': item.id === 'temperatura',
                                    'cmi-icon-viento': item.id === 'viento',
                                    'cmi-icon-humedad': item.id === 'humedad'
                                }"
                                flex/>
                        </div>
                    </div>
                    <div class="md-list-item-text" flex="40" layout="row" layout-md="column" layout-align="center center">
                        <div class="md-2-line" layout-md="column">
                            <h4 class="cmi-text-align">{{ item.description }}</h4>
                            <div flex layout="row" layout-align="center center">
                                <span class="cmi-text">{{ item.value | number:2 }}</span>
                                <div class="cmi-units">{{ item.units }}</div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <section
        layout="row"
        layout-sm="column"
        layout-align="end center"
        style="min-height:70px;"
        ng-if="config.selected">
        <!--<div flex="33">
            <md-checkbox ng-model="config.realtime" aria-label="Tiempo real">Tiempo real</md-checkbox>
        </div>-->

        <div
            flex
            class="cmi-show-history"
            ng-if="!config.realtime"
            layout="row"
            layout-sm="row"
            layout-align="center center"
            layout-fill>
            <div layout="row" layout-sm="column" layout-align="center center" layout-padding>
                <div flex style="width:230px;">
                    <div style="float:left; width:20px; padding:4px 0;">De</div>
                    <input id="fc_desde" class="cmi-date" type="date" ng-model="filter.desde"/>
                </div>
                <div flex style="width:230px;">
                    <div style="float:left; width:20px; padding:4px 0;">A</div>
                    <input id="fc_hasta" class="cmi-date" type="date" ng-model="filter.hasta"/>
                </div>
            </div>
        </div>

    </section>
    <div
        hide-sm
        class="cookie-meteo-grafico cookie-meteo-block"
        ng-if="config.selected"
        ng-class="{
            'cmi-temperatura selected ': config.indicadores.temperatura.selected,
            'cmi-viento selected ': config.indicadores.viento.selected,
            'cmi-humedad selected ': config.indicadores.humedad.selected
            }"
        flex>
        <highchart id="chart1" config="config.chart"></highchart>
        <md-content layout="row">
            <span flex></span>
        </md-content>
    </div>
    <div layout-fill layout="row" ng-if="config.selected">
        <div flex>
            <md-checkbox ng-model="config.realtime" aria-label="Tiempo real">Tiempo real</md-checkbox>
        </div>
        <div flex=""></div>
        <md-button  ng-if="!config.realtime" hide-sm class="md-fab" aria-label="Buscar" ng-click="methods.searchWithFilter()">
            <md-icon md-svg-src="./material-design-icons/action/svg/production/ic_search_24px.svg"></md-icon>
            <md-tooltip>Buscar</md-tooltip>
        </md-button>

        <md-button ng-if="!config.realtime" show-sm class="md-fab" aria-label="Guardar registros">
            <md-icon md-svg-src="./material-design-icons/file/svg/production/ic_file_download_24px.svg"></md-icon>
            <md-tooltip>Descargar registros</md-tooltip>
        </md-button>
    </div>
</section>