<div class="cookie-meteo-login" layout="column" layout-align="center center">
    <section class="cmi-login-card" layout-align="center center">
        <div flex="30"></div>
        <md-card layout-padding flex="60">
            <md-content layout-padding class="autoScroll">
                <md-input-container class="md-icon-float" >
                    <md-icon md-svg-src="material-design-icons/social/svg/production/ic_person_24px.svg" class="cmi-name"></md-icon>
                    <input ng-model="config.user.login.username" type="text" placeholder="Usuario">
                </md-input-container>
                <md-input-container >
                    <md-icon md-svg-src="material-design-icons/action/svg/production/ic_lock_24px.svg" class="cmi-password"></md-icon>
                    <input ng-model="config.user.login.password" type="password" placeholder="Contraseña" ng-required="true">
                </md-input-container>
            </md-content>
            <section layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="methods.login()">Entrar</md-button>
                <md-button class="md-raised" ng-click="$state.go('client')">Cancelar</md-button>
            </section>
        </md-card>
        <div flex="30"></div>
    </section>
</div>